In [ ]:
a=10
b=10
c=a+b
print(c)

20

In [ ]:
print("My name is Sridevi.k")

My name is Sridevi.k

In [ ]:
x="Sridevi"
print(x)

Sridevi

In [ ]:
t1="Sridevi"
t2="Bhavana"
t3="Sunitha"
print("Hello t1")

Hello t1

In [ ]:
print("Hello", t1)

Hello Sridevi

In [ ]:
print("Hello", t2)
print("Hello", t3)

Hello Bhavana
Hello Sunitha

In [ ]:
print("Hello", t1,t2,"and", t3," How are you all?")

Hello Sridevi Bhavana and Sunitha  How are you all?

In [ ]:
age=90
print("The number you entered was: ",age)

The number you entered was:  90

In [ ]:
age=age+5
print(age)

96

In [ ]:
a=1
print(a)

1

In [ ]:
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)

3
4
5

TypeError: 'int' object is not callable